@charset "utf-8";

/* base */

@keyframes fadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes loaderAnimation {
    from {opacity: 1;}
    to {opacity: 0;z-index: -1000;}
}


/* loader */

#loader-logo>img {
    animation: fadeInAnimation 1.0s forwards;
}

#loader.fin {
    animation: loaderAnimation 2.0s forwards;

}
